.task-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 5vh;
        color: var(--color-dark);
        font-size: 3rem;
        
    }

    .searchbar-and-filter {
        display: flex;
        background: var(--color-bg-second);
        border-radius: 40px;
    }
}