.task-input-wrapper {
    
    .searchbar-container {
        padding: 1.5rem;
        background: var(--color-contrast);
        border-radius: 40px 0px 0px 0px;
        width: 30vw;
        height: 10vh;

        .searchbar-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--color-bg);
            border-radius: 40px;
            height: 5vh;

            input {
                outline: none;
                border: none;
                padding: 0.5rem;
                border-radius: 40px;
                background: var(--color-bg);
                padding-left: 0.5vw;
                font-size: 1.2rem;
                height: 5vh;
            }

            input::placeholder {
                font-size: 1.2rem;
                height: 5vh;
            }

            button {
                align-items: center;
                border: none;
                padding-top: 0.3vh;
                font-size: 2rem;
                outline: none;
                color: var(--color-dark);
                text-align: right;
                padding-right: 0.3vw;
                background: none;
                cursor: pointer;
                height: 5vh;
            }
        }

    }
}