@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #ADAA3E;
    --color-two: #FFFB8F;
    --color-three: #FAF573;
    --color-four: #612DAD;
    --color-five: #A973FA;

    
    --font-headline: 'Fredoka One', cursive;
    --font-text: 'Architects Daughter', cursive;
}

h1 {
    font-family: 'Fredoka One', cursive;;
}

p {
    font-family: 'Architects Daughter', cursive;;
}

input {
    font-family: 'Architects Daughter', cursive;;
}

::placeholder {
    font-family: 'Architects Daughter', cursive;;
}